header {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px 10px #1CB5E035;
  }
  header h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
  }